.feedback {
  &__container {
  }
  &__body {
    background-image: url(../img/feedback-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 40px 100px;
    @media (max-width: $tablet) {
      padding: 40px 20px;
    }
  }
  &__title {
    font-weight: 700;
    @include adaptiveValue('font-size', 28, 24);
    line-height: 130%;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 20px;
  }
  &__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: #ffffff;
  }
  &__form {
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    @media (max-width: $mobile) {
      flex-direction: column;

      .btn__white {
        width: 100%;
      }
    }
  }
  &__input {
    background: rgba(217, 217, 217, 0.5);
    border: 1px solid #bdbdbd;
    border-radius: 100px;
    padding: 10px 20px;
    width: 100%;
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    color: #ffffff;

    &::placeholder {
      color: #ffffff;
    }
  }
}
