.hero {
  &__container-fluid {
    max-width: 1440px;
  }
  &__body {
  }
  &__slider {
    position: relative;
  }
  &__wrapper {
  }
  &__slide {
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    &-body {
      font-weight: 700;

      @include adaptiveValue('font-size', 140, 60);
      @include adaptiveValue('line-height', 120, 60);
      text-transform: uppercase;
      color: #ffffff;
      @include adaptiveValue('margin-left', -140, 1);
      span {
        color: transparent; /* прозрачный цвет букв */
        -webkit-text-stroke: 1px #fff;
        @include adaptiveValue('margin-left', 160, 20);
      }
    }
  }
}
.hero-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  width: 100%;
  .swiper-pagination-bullet {
    width: 40px;
    height: 5px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    display: block;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    &.swiper-pagination-bullet-active {
      background: #ffffff;
    }
  }
}

.hero-button-prev,
.hero-button-next {
  width: 34px;
  height: 34px;
  border-radius: 100%;
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  &::before {
    color: $accentColor;
    font-size: 9px;
  }
}
.hero-button-prev {
  transform: translate(0px, -50%) rotate(-180deg);
  left: 10%;
}
.hero-button-next {
  right: 10%;
  transform: translate(0px, -50%);
}
