// Базові стилі спойлерів
// Сниппет (HTML): spoller

// Блок зі спойлерами
.spollers {
  display: grid;
  gap: 15px;
}
// Спойлер
.spollers__item {
  position: relative;
  &::after {
    content: '';
    width: 100%;
    max-width: 570px;
    height: 1px;
    background-color: #bdbdbd;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
// Заголовок спойлера
.spollers__title {
  width: 100%;
  cursor: default;
  text-align: left;
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  text-transform: uppercase;
  color: $accentColor;
  padding: rem(10) rem(0);
  position: relative;

  &::before {
    position: absolute;
    top: 50%;
    left: 47%;
    transform: translate(0px, -50%);
    transition: all 0.3s ease 0s;
    @media (max-width: $mobile) {
      left: 95%;
    }
  }
  ._spoller-init & {
    cursor: pointer;

    &._spoller-active {
      &::before {
        transform: rotate(90deg);
      }
    }
    /*
		._spoller-init & {
			position: relative;
			width: 100%;
			text-align: left;
			&::before,
			&::after {
				content: "";
				position: absolute;
				right: 0;
				top: rem(12);
				height: rem(1);
				transition: all 0.3s ease 0s;
				width: rem(10);
				background-color: #000;
			}
			&::before {
				transform: rotate(40deg);
				right: rem(7);
			}
			&::after {
				transform: rotate(-40deg);
			}
		}
		&._spoller-active {
			&::before {
				transform: rotate(-40deg);
			}
			&::after {
				transform: rotate(40deg);
			}
		}
		*/
  }
}
// Контент спойлера
.spollers__body {
}
