<section class="best section-best">
  <div class="best__container">
    <div class="best__body">
      <div class="best__img">
        <img src="@img/best-img.jpg" alt="">
      </div>
      <div class="best__content">
        <h3 class="best__title title">Мы лучшие</h3>
        <ul class="best__list">
          <li class="best__item _icon-arrow">
            <p>Наши бани-бочки <span>изготовленны по лучшей финской технологией</span> и
              является
              атрибутом
              здоровья.</p>
          </li>
          <li class="best__item _icon-arrow">
            <p>Баня-бочка – это полностью <span>мобильное строение.</span></p>
          </li>
          <li class="best__item _icon-arrow">
            <p><span>Мы тщательно отбираем еловую или кедровую древесину</span>,
              обрабатываем её
              специальным
              составом, защищающим баню от грибка,
              плесени и насекомых.</p>
          </li>
          <li class="best__item _icon-arrow">
            <p>Готовые <span>бани под ключ</span> готовы к эксплуатации сразу же после
              доставки!</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>