<section class="consists section-consists">
  <div class="consists__container">
    <div class="consists__body">
      <h3 class="consists__title title">Из чего состоит баня-бочка?</h3>
      <div class="consists__slider swiper">
        <div class="consists__wrapper swiper-wrapper">
          <div class="consists__slide swiper-slide">
            <div class="consists__slide-body">
              <div class="consists__slide-content content">
                <span>01</span>
                <div class="content__header">
                  <h4 class="content__title">Беседка</h4>
                  <p class="content__text">Расслабиться после жара бани <br>
                    Вы можете на свежем воздухе</p>
                </div>
              </div>
              <div class="consists__slide-img">
                <img src="@img/consists-1.jpg" alt="">
              </div>
            </div>
          </div>
          <div class="consists__slide swiper-slide">
            <div class="consists__slide-body">
              <div class="consists__slide-content content">
                <span>02</span>
                <div class="content__header">
                  <h4 class="content__title">Комната отдыха</h4>
                  <p class="content__text">Отдохнуть вы сможете <br>
                    на деревянных лавках</p>
                </div>

              </div>
              <div class="consists__slide-img">
                <img src="@img/consists-2.jpg" alt="">
              </div>
            </div>
          </div>
          <div class="consists__slide swiper-slide">
            <div class="consists__slide-body">
              <div class="consists__slide-content content">
                <span>03</span>
                <div class="content__header">
                  <h4 class="content__title">Парная</h4>
                  <p class="content__text">Паровая баня приносит пользу <br> вашему здоровью</p>
                </div>
              </div>
              <div class="consists__slide-img">
                <img src="@img/consists-3.jpg" alt="">
              </div>
            </div>
          </div>
        </div>
        <button type="button" class="consists-button-next _icon-arrow"></button>
      </div>
    </div>
  </div>
</section>