<section class="contacts section-contacts">
  <div class="contacts__container">
    <h3 class="contacts__title title">Контакты</h3>
    <div class="contacts__body">
      <div class="contacts__map">
        <iframe
          src="https://yandex.ru/map-widget/v1/?um=constructor%3A0f5361cf344ae51e2e4c55b8982835ddfac14fc494f72476c1aa4b6461f644f1&amp;source=constructor"
          width="100%" height="400" frameborder="0"></iframe>
      </div>
      <div class="contacts__content">
        <ul class="contacts__list">
          <li class="contacts__item">
            <h5 class="contacts__name _icon-location">Адрес</h5>
            <p class="contacts__text">г. Сергиев Посад,
              Скобяное шоссе, д.19</p>
          </li>
          <li class="contacts__item">
            <h5 class="contacts__name _icon-clock">Рабочие часы</h5>
            <p class="contacts__text">Ежедневно
              с 9:00 до 20:00</p>
          </li>
          <li class="contacts__item">
            <h5 class="contacts__name _icon-phone">Телефон</h5>
            <a href="tel:+79101921063" class="contacts__link">+7-910-192-10-63</a>
          </li>
          <li class="contacts__item">
            <h5 class="contacts__name _icon-mail">Почта</h5>
            <a href="mailto:bani-bochki@mail.ru" class="contacts__link">bani-bochki@mail.ru</a>
          </li>
          <li class="contacts__item">
            <h5 class="contacts__name _icon-social">Соцсети</h5>
            <a href="#" class="contacts__icon">
              <img src="@img/wa.svg" alt="">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>