<section class="feedback section-feedback">
  <div class="feedback__container">
    <div class="feedback__body">
      <h3 class="feedback__title">Остались вопрсы ?</h3>
      <p class="feedback__text">Мы ответим на все Ваши вопросы</p>
      <form action="">
        <div class="feedback__form">
          <input placeholder="Имя" class="feedback__input">
          <input placeholder="+7 (_ _ _) _ _ _ - _ _  - _ _" class="feedback__input">
          <button type="submit" class="btn__white">Заказать</button>
        </div>
      </form>
    </div>
  </div>
</section>