<section class="gallery section-gallery">
  <div class="gallery__container">
    <div class="gallery__body">
      <div class="gallery__slider swiper">
        <div class="gallery__wrapper swiper-wrapper">
          <div class="gallery__slide swiper-slide">
            <div class="gallery__img">
              <img src="@img/gallery-1.jpg" alt="">
            </div>
          </div>
          <div class="gallery__slide swiper-slide">
            <div class="gallery__img">
              <img src="@img/gallery-1.jpg" alt="">
            </div>
          </div>
          <div class="gallery__slide swiper-slide">
            <div class="gallery__img">
              <img src="@img/gallery-1.jpg" alt="">
            </div>
          </div>
          <div class="gallery__slide swiper-slide">
            <div class="gallery__img">
              <img src="@img/gallery-1.jpg" alt="">
            </div>
          </div>
          <div class="gallery__slide swiper-slide">
            <div class="gallery__img">
              <img src="@img/gallery-1.jpg" alt="">
            </div>
          </div>
          <div class="gallery__slide swiper-slide">
            <div class="gallery__img">
              <img src="@img/gallery-1.jpg" alt="">
            </div>
          </div>
        </div>

        <button type="button" class="hero-button-prev _icon-arrow"></button>
        <button type="button" class="hero-button-next _icon-arrow"></button>

      </div>
      <div class="gallery__content">
        <h3 class="gallery__title title">Фотогаллерея</h3>
        <p class="gallery__text">Баня-бочка – это полностью мобильное строение, изготовленное из отборной еловой или
          кедровой древесины, обработанной
          специальным защитным составом, защищающим баню от грибка, плесени и насекомых.Купить готовую баню под ключ
          можно
          в нашей компании. Мы славимся качественной продукцией, сертифицированной в соответствии с европейскими
          стандартами и
          нормами безопасности, лояльной ценовой политикой и внимательным отношением к клиентам. Наши специалисты
          помогут вам
          подобрать самый оптимальный вариант бани-бочки,
          а также установить ее на вашем участке. Готовые бани под ключ готовы к эксплуатации сразу же после доставки!
        </p>
        <ul class="gallery__list">
          <li class="gallery__item">
            <img src="@img/gallery-2.jpg" alt="">
          </li>
          <li class="gallery__item">
            <img src="@img/gallery-3.jpg" alt="">
          </li>
          <li class="gallery__item">
            <img src="@img/gallery-4.jpg" alt="">
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>