<section class="hero section-hero">
  <div class="hero__container-fluid">
    <div class="hero__body">
      <div class="hero__slider swiper">
        <div class="hero__wrapper swiper-wrapper">
          <!-- Слайд -->
          <div class="hero__slide swiper-slide" style="background-image: url(img/hero-bg.jpg);">
            <h1 class="hero__slide-body">Бани <br> <span>И Точка</span></h1>
          </div>
          <div class="hero__slide swiper-slide" style="background-image: url(img/hero-bg.jpg);">
            <h1 class="hero__slide-body">Бани <br> <span>И Точка</span></h1>
          </div>
          <div class="hero__slide swiper-slide" style="background-image: url(img/hero-bg.jpg);">
            <h1 class="hero__slide-body">Бани <br> <span>И Точка</span></h1>
          </div>
          <div class="hero__slide swiper-slide" style="background-image: url(img/hero-bg.jpg);">
            <h1 class="hero__slide-body">Бани <br> <span>И Точка</span></h1>
          </div>
          <div class="hero__slide swiper-slide" style="background-image: url(img/hero-bg.jpg);">
            <h1 class="hero__slide-body">Бани <br> <span>И Точка</span></h1>
          </div>
        </div>
        <!-- Якщо потрібна пагінація -->
        <div class="hero-pagination"></div>
        <!-- Якщо потрібна навігація (ліворуч/праворуч) -->
        <button type="button" class="hero-button-prev _icon-arrow"></button>
        <button type="button" class="hero-button-next _icon-arrow"></button>

      </div>
    </div>
  </div>
</section>