<section class="questions section-questions">
  <div class="questions__container">
    <div class="questions__body">
      <h3 class="questions__title title">Часто задаваемые вопросы</h3>
      <div class="questions__wrapper">
        <div data-spollers class="questions-spollers">
          <div class="questions-spollers__item">
            <button type="button" data-spoller class="questions-spollers__title _spoller-active">Срок службы
              бани-бочки?</button>
            <div class="questions-spollers__body">Да, конечно. При получении, вы получаете комплект
              для самостоятельной сборки «Баня-в-Бочке», подробную инструкцию, консультацию специалиста (в случае
              необходимости).</div>
          </div>
          <div class="questions-spollers__item">
            <button type="button" data-spoller class="questions-spollers__title">Можно заказать баню-бочку в разобранном
              виде?</button>
            <div class="questions-spollers__body">Контент спойлера</div>
          </div>
          <div class="questions-spollers__item">
            <button type="button" data-spoller class="questions-spollers__title">Из чего сделана баня-бочка?</button>
            <div class="questions-spollers__body">Контент спойлера</div>
          </div>
          <div class="questions-spollers__item">
            <button type="button" data-spoller class="questions-spollers__title">Могу ли я заказать дополнительное
              оборудование, которого нет в перечне опций?</button>
            <div class="questions-spollers__body">Контент спойлера</div>
          </div>
          <div class="questions-spollers__item">
            <button type="button" data-spoller class="questions-spollers__title">На что можно устанавливать
              баню-бочку?</button>
            <div class="questions-spollers__body">Контент спойлера</div>
          </div>
          <div class="questions-spollers__item">
            <button type="button" data-spoller class="questions-spollers__title">Вы можете помочь с обустройством
              фундамента?</button>
            <div class="questions-spollers__body">Контент спойлера</div>
          </div>
        </div>
        <div data-spollers class="questions-spollers">
          <div class="questions-spollers__item">
            <button type="button" data-spoller class="questions-spollers__title">Какой материал полков в
              бане-бочке?</button>
            <div class="questions-spollers__body">Контент спойлера</div>
          </div>
          <div class="questions-spollers__item">
            <button type="button" data-spoller class="questions-spollers__title">До какого максимального диаметра
              (высоты-ширины) можно заказать баню-бочку?</button>
            <div class="questions-spollers__body">Контент спойлера</div>
          </div>
          <div class="questions-spollers__item">
            <button type="button" data-spoller class="questions-spollers__title">Из чего сделана баня-бочка?</button>
            <div class="questions-spollers__body">Контент спойлера</div>
          </div>
          <div class="questions-spollers__item">
            <button type="button" data-spoller class="questions-spollers__title">Могу ли я при заказе бани-бочки
              изменить размеры помещений и сколько это будет стоить?</button>
            <div class="questions-spollers__body">Контент спойлера</div>
          </div>
          <div class="questions-spollers__item">
            <button type="button" data-spoller class="questions-spollers__title">На что можно устанавливать
              баню-бочку?</button>
            <div class="questions-spollers__body">Контент спойлера</div>
          </div>
          <div class="questions-spollers__item">
            <button type="button" data-spoller class="questions-spollers__title">Вы можете помочь с обустройством
              фундамента?</button>
            <div class="questions-spollers__body">Контент спойлера</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>