<section class="works section-works">
  <div class="works__container">
    <h3 class="works__title title">Наши бани</h3>
    <div data-spollers class="spollers">
      <div class="spollers__item">
        <button type="button" data-spoller
          class="spollers__title _spoller-active _icon-arrow-outward">Бани-бочки</button>
        <div class="spollers__body">
          <ul class="works__list">
            <li class="works__item">
              <article class="product__cart">
                <a href="" class="product__img">
                  <img src="@img/product-1.jpg" alt="">
                </a>
                <div class="product__text">
                  <a href="#" class="product__name">Баня-бочка 2м.</a>
                  <p class="product__descr">
                    Описание</p>
                </div>
                <div class="product__footer">
                  <button type="submit" class="btn__green">Заказать</button>
                </div>
              </article>
            </li>
            <li class="works__item">
              <article class="product__cart">
                <a href="" class="product__img">
                  <img src="@img/product-2.jpg" alt="">
                </a>
                <div class="product__text">
                  <a href="#" class="product__name">Баня-бочка 2м.</a>
                  <p class="product__descr">
                    Описание</p>
                </div>
                <div class="product__footer">
                  <button type="submit" class="btn__green">Заказать</button>
                </div>
              </article>
            </li>
            <li class="works__item">
              <article class="product__cart">
                <a href="" class="product__img">
                  <img src="@img/product-3.jpg" alt="">
                </a>
                <div class="product__text">
                  <a href="#" class="product__name">Баня-бочка 2м.</a>
                  <p class="product__descr">
                    Описание</p>
                </div>
                <div class="product__footer">
                  <button type="submit" class="btn__green">Заказать</button>
                </div>
              </article>
            </li>
            <li class="works__item">
              <article class="product__cart">
                <a href="" class="product__img">
                  <img src="@img/product-4.jpg" alt="">
                </a>
                <div class="product__text">
                  <a href="#" class="product__name">Баня-бочка 2м.</a>
                  <p class="product__descr">
                    Описание</p>
                </div>
                <div class="product__footer">
                  <button type="submit" class="btn__green">Заказать</button>
                </div>
              </article>
            </li>
            <li class="works__item">
              <article class="product__cart">
                <a href="" class="product__img">
                  <img src="@img/product-5.jpg" alt="">
                </a>
                <div class="product__text">
                  <a href="#" class="product__name">Баня-бочка 2м.</a>
                  <p class="product__descr">
                    Описание</p>
                </div>
                <div class="product__footer">
                  <button type="submit" class="btn__green">Заказать</button>
                </div>
              </article>
            </li>
          </ul>
        </div>
      </div>
      <div class="spollers__item">
        <button type="button" data-spoller class="spollers__title _icon-arrow-outward">Бани-квадро</button>
        <div class="spollers__body">
          <ul class="works__list">
            <li class="works__item">
              <article class="product__cart">
                <a href="" class="product__img">
                  <img src="@img/product-1.jpg" alt="">
                </a>
                <div class="product__text">
                  <a href="#" class="product__name">Баня-бочка 2м.</a>
                  <p class="product__descr">
                    Описание</p>
                </div>
                <div class="product__footer">
                  <button type="submit" class="btn__green">Заказать</button>
                </div>
              </article>
            </li>
            <li class="works__item">
              <article class="product__cart">
                <a href="" class="product__img">
                  <img src="@img/product-2.jpg" alt="">
                </a>
                <div class="product__text">
                  <a href="#" class="product__name">Баня-бочка 2м.</a>
                  <p class="product__descr">
                    ОписаниеОписаниеОписаниеОписаниеОписаниеОписаниеОписаниеОписаниеОписаниеОписа...</p>
                </div>
                <div class="product__footer">
                  <button type="submit" class="btn__green">Заказать</button>
                </div>
              </article>
            </li>
            <li class="works__item">
              <article class="product__cart">
                <a href="" class="product__img">
                  <img src="@img/product-3.jpg" alt="">
                </a>
                <div class="product__text">
                  <a href="#" class="product__name">Баня-бочка 2м.</a>
                  <p class="product__descr">
                    Описание</p>
                </div>
                <div class="product__footer">
                  <button type="submit" class="btn__green">Заказать</button>
                </div>
              </article>
            </li>
            <li class="works__item">
              <article class="product__cart">
                <a href="" class="product__img">
                  <img src="@img/product-4.jpg" alt="">
                </a>
                <div class="product__text">
                  <a href="#" class="product__name">Баня-бочка 2м.</a>
                  <p class="product__descr">
                    Описание</p>
                </div>
                <div class="product__footer">
                  <button type="submit" class="btn__green">Заказать</button>
                </div>
              </article>
            </li>
            <li class="works__item">
              <article class="product__cart">
                <a href="" class="product__img">
                  <img src="@img/product-5.jpg" alt="">
                </a>
                <div class="product__text">
                  <a href="#" class="product__name">Баня-бочка 2м.</a>
                  <p class="product__descr">
                    Описание</p>
                </div>
                <div class="product__footer">
                  <button type="submit" class="btn__green">Заказать</button>
                </div>
              </article>
            </li>
          </ul>
        </div>
      </div>
      <div class="spollers__item">
        <button type="button" data-spoller class="spollers__title _icon-arrow-outward">купели</button>
        <div class="spollers__body">
          <ul class="works__list">
            <li class="works__item">
              <article class="product__cart">
                <a href="" class="product__img">
                  <img src="@img/product-1.jpg" alt="">
                </a>
                <div class="product__text">
                  <a href="#" class="product__name">Баня-бочка 2м.</a>
                  <p class="product__descr">
                    Описание</p>
                </div>
                <div class="product__footer">
                  <button type="submit" class="btn__green">Заказать</button>
                </div>
              </article>
            </li>
            <li class="works__item">
              <article class="product__cart">
                <a href="" class="product__img">
                  <img src="@img/product-2.jpg" alt="">
                </a>
                <div class="product__text">
                  <a href="#" class="product__name">Баня-бочка 2м.</a>
                  <p class="product__descr">
                    Описание</p>
                </div>
                <div class="product__footer">
                  <button type="submit" class="btn__green">Заказать</button>
                </div>
              </article>
            </li>
            <li class="works__item">
              <article class="product__cart">
                <a href="" class="product__img">
                  <img src="@img/product-3.jpg" alt="">
                </a>
                <div class="product__text">
                  <a href="#" class="product__name">Баня-бочка 2м.</a>
                  <p class="product__descr">
                    Описание</p>
                </div>
                <div class="product__footer">
                  <button type="submit" class="btn__green">Заказать</button>
                </div>
              </article>
            </li>
            <li class="works__item">
              <article class="product__cart">
                <a href="" class="product__img">
                  <img src="@img/product-4.jpg" alt="">
                </a>
                <div class="product__text">
                  <a href="#" class="product__name">Баня-бочка 2м.</a>
                  <p class="product__descr">
                    Описание</p>
                </div>
                <div class="product__footer">
                  <button type="submit" class="btn__green">Заказать</button>
                </div>
              </article>
            </li>
            <li class="works__item">
              <article class="product__cart">
                <a href="" class="product__img">
                  <img src="@img/product-5.jpg" alt="">
                </a>
                <div class="product__text">
                  <a href="#" class="product__name">Баня-бочка 2м.</a>
                  <p class="product__descr">
                    Описание</p>
                </div>
                <div class="product__footer">
                  <button type="submit" class="btn__green">Заказать</button>
                </div>
              </article>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>